<div>
     
    <h2 translate="synctestApp.study.home.title">Study</h2>

<!--     <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveStudyModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="synctestApp.study.home.createLabel">Create a new Study</span>
    </button> -->
    <div class="modal fade" id="saveStudyModal" tabindex="-1" role="dialog" aria-labelledby="myStudyLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myStudyLabel" translate="synctestApp.study.home.createOrEditLabel">Create or edit a Study</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="study.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="synctestApp.study.parent_study_id">Parent_study_id</label>
                            <input type="number" class="form-control"
                                   ng-model="study.parent_study_id">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.unique_identifier">Unique_identifier</label>
                            <input type="text" class="form-control"
                                   ng-model="study.unique_identifier">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.secondary_identifier">Secondary_identifier</label>
                            <input type="text" class="form-control"
                                   ng-model="study.secondary_identifier">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="study.name">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.summary">Summary</label>
                            <input type="text" class="form-control"
                                   ng-model="study.summary">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.date_planned_start">Date_planned_start</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="study.date_planned_start" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.date_planned_end">Date_planned_end</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="study.date_planned_end" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.date_created">Date_created</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="study.date_created" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.date_updated">Date_updated</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="study.date_updated" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.owner_id">Owner_id</label>
                            <input type="number" class="form-control"
                                   ng-model="study.owner_id">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.update_id">Update_id</label>
                            <input type="number" class="form-control"
                                   ng-model="study.update_id">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.type_id">Type_id</label>
                            <input type="number" class="form-control"
                                   ng-model="study.type_id">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.status_id">Status_id</label>
                            <input type="number" class="form-control"
                                   ng-model="study.status_id">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.principal_investigator">Principal_investigator</label>
                            <input type="text" class="form-control"
                                   ng-model="study.principal_investigator">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_name">Facility_name</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_name">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_city">Facility_city</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_city">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_state">Facility_state</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_state">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_zip">Facility_zip</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_zip">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_country">Facility_country</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_country">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_recruitment_status">Facility_recruitment_status</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_recruitment_status">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_contact_name">Facility_contact_name</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_contact_name">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_contact_degree">Facility_contact_degree</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_contact_degree">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_contact_phone">Facility_contact_phone</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_contact_phone">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.facility_contact_email">Facility_contact_email</label>
                            <input type="text" class="form-control"
                                   ng-model="study.facility_contact_email">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.protocol_type">Protocol_type</label>
                            <input type="text" class="form-control"
                                   ng-model="study.protocol_type">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.protocol_description">Protocol_description</label>
                            <input type="text" class="form-control"
                                   ng-model="study.protocol_description">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.protocol_date_verification">Protocol_date_verification</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="study.protocol_date_verification" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.phase">Phase</label>
                            <input type="text" class="form-control"
                                   ng-model="study.phase">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.expected_total_enrollment">Expected_total_enrollment</label>
                            <input type="number" class="form-control"
                                   ng-model="study.expected_total_enrollment">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.sponsor">Sponsor</label>
                            <input type="text" class="form-control"
                                   ng-model="study.sponsor">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.collaborators">Collaborators</label>
                            <input type="text" class="form-control"
                                   ng-model="study.collaborators">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.medline_identifier">Medline_identifier</label>
                            <input type="text" class="form-control"
                                   ng-model="study.medline_identifier">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.url">Url</label>
                            <input type="text" class="form-control"
                                   ng-model="study.url">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.url_description">Url_description</label>
                            <input type="text" class="form-control"
                                   ng-model="study.url_description">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.conditions">Conditions</label>
                            <input type="text" class="form-control"
                                   ng-model="study.conditions">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.keywords">Keywords</label>
                            <input type="text" class="form-control"
                                   ng-model="study.keywords">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.eligibility">Eligibility</label>
                            <input type="text" class="form-control"
                                   ng-model="study.eligibility">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.gender">Gender</label>
                            <input type="text" class="form-control"
                                   ng-model="study.gender">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.age_max">Age_max</label>
                            <input type="text" class="form-control"
                                   ng-model="study.age_max">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.age_min">Age_min</label>
                            <input type="text" class="form-control"
                                   ng-model="study.age_min">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.healthy_volunteer_accepted">Healthy_volunteer_accepted</label>
                            <input type="text" class="form-control"
                                   ng-model="study.healthy_volunteer_accepted">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.purpose">Purpose</label>
                            <input type="text" class="form-control"
                                   ng-model="study.purpose">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.allocation">Allocation</label>
                            <input type="text" class="form-control"
                                   ng-model="study.allocation">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.masking">Masking</label>
                            <input type="text" class="form-control"
                                   ng-model="study.masking">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.control">Control</label>
                            <input type="text" class="form-control"
                                   ng-model="study.control">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.assignment">Assignment</label>
                            <input type="text" class="form-control"
                                   ng-model="study.assignment">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.endpoint">Endpoint</label>
                            <input type="text" class="form-control"
                                   ng-model="study.endpoint">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.interventions">Interventions</label>
                            <input type="text" class="form-control"
                                   ng-model="study.interventions">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.duration">Duration</label>
                            <input type="text" class="form-control"
                                   ng-model="study.duration">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.selection">Selection</label>
                            <input type="text" class="form-control"
                                   ng-model="study.selection">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.timing">Timing</label>
                            <input type="text" class="form-control"
                                   ng-model="study.timing">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.official_title">Official_title</label>
                            <input type="text" class="form-control"
                                   ng-model="study.official_title">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.results_reference">Results_reference</label>
                            <input type="text" class="form-control"
                                   ng-model="study.results_reference">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.oc_oid">Oc_oid</label>
                            <input type="text" class="form-control"
                                   ng-model="study.oc_oid">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.study.old_status_id">Old_status_id</label>
                            <input type="number" class="form-control"
                                   ng-model="study.old_status_id">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteStudyConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(study.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="synctestApp.study.delete.question" translate-values="{id: '{{study.id}}'}">Are you sure you want to delete Study {{study.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="syncConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Synchronization</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            It will synchronize the data in the configuration table.
                            <br/>
                            {{diffData[1].length}} rows will be added on synctest.
                            <br/>
                            {{diffData[0].length}} rows will be added on openclinica.
                            <br/>
                            <div class="alert alert-warning" role="alert">
                                <strong>Carefully, </strong> This table contains foreign key from another table. 
                                <br/>
                                Need to sync table <strong>status, user_account</strong> and <strong>study_type</strong> before doing synchronization.
                            </div>
                           
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
                            ng-click="doSync()">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Do Sync</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-repeat="i in array">
        <button type="submit"
                ng-click="toggleTable(i)"
                class="btn btn-info">
            <span class="glyphicon glyphicon-eye-open">&nbsp;{{toggleText[i]}}</span>
        </button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <!-- <th translate="synctestApp.study.parent_study_id">Parent_study_id</th> -->
                        <!-- <th translate="synctestApp.study.unique_identifier">Unique_identifier</th> -->
                        <!-- <th translate="synctestApp.study.secondary_identifier">Secondary_identifier</th> -->
                        <th translate="synctestApp.study.name">Name</th>
                        <th translate="synctestApp.study.summary">Summary</th>
                        <th translate="synctestApp.study.date_planned_start">Date_planned_start</th>
                        <th translate="synctestApp.study.date_planned_end">Date_planned_end</th>
                        <th translate="synctestApp.study.date_created">Date_created</th>
                        <th translate="synctestApp.study.date_updated">Date_updated</th>
                        <!-- <th translate="synctestApp.study.owner_id">Owner_id</th> -->
                        <!-- <th translate="synctestApp.study.update_id">Update_id</th> -->
                        <!-- <th translate="synctestApp.study.type_id">Type_id</th> -->
                        <!-- <th translate="synctestApp.study.status_id">Status_id</th> -->
                        <!-- <th translate="synctestApp.study.principal_investigator">Principal_investigator</th> -->
    <!--                     <th translate="synctestApp.study.facility_name">Facility_name</th>
                        <th translate="synctestApp.study.facility_city">Facility_city</th>
                        <th translate="synctestApp.study.facility_state">Facility_state</th>
                        <th translate="synctestApp.study.facility_zip">Facility_zip</th>
                        <th translate="synctestApp.study.facility_country">Facility_country</th>
                        <th translate="synctestApp.study.facility_recruitment_status">Facility_recruitment_status</th>
                        <th translate="synctestApp.study.facility_contact_name">Facility_contact_name</th>
                        <th translate="synctestApp.study.facility_contact_degree">Facility_contact_degree</th>
                        <th translate="synctestApp.study.facility_contact_phone">Facility_contact_phone</th>
                        <th translate="synctestApp.study.facility_contact_email">Facility_contact_email</th>
                        <th translate="synctestApp.study.protocol_type">Protocol_type</th>
                        <th translate="synctestApp.study.protocol_description">Protocol_description</th>
                        <th translate="synctestApp.study.protocol_date_verification">Protocol_date_verification</th>
                        <th translate="synctestApp.study.phase">Phase</th>
                        <th translate="synctestApp.study.expected_total_enrollment">Expected_total_enrollment</th>
                        <th translate="synctestApp.study.sponsor">Sponsor</th>
                        <th translate="synctestApp.study.collaborators">Collaborators</th>
                        <th translate="synctestApp.study.medline_identifier">Medline_identifier</th>
                        <th translate="synctestApp.study.url">Url</th>
                        <th translate="synctestApp.study.url_description">Url_description</th>
                        <th translate="synctestApp.study.conditions">Conditions</th>
                        <th translate="synctestApp.study.keywords">Keywords</th>
                        <th translate="synctestApp.study.eligibility">Eligibility</th>
                        <th translate="synctestApp.study.gender">Gender</th>
                        <th translate="synctestApp.study.age_max">Age_max</th>
                        <th translate="synctestApp.study.age_min">Age_min</th>
                        <th translate="synctestApp.study.healthy_volunteer_accepted">Healthy_volunteer_accepted</th>
                        <th translate="synctestApp.study.purpose">Purpose</th>
                        <th translate="synctestApp.study.allocation">Allocation</th>
                        <th translate="synctestApp.study.masking">Masking</th>
                        <th translate="synctestApp.study.control">Control</th>
                        <th translate="synctestApp.study.assignment">Assignment</th>
                        <th translate="synctestApp.study.endpoint">Endpoint</th>
                        <th translate="synctestApp.study.interventions">Interventions</th>
                        <th translate="synctestApp.study.duration">Duration</th>
                        <th translate="synctestApp.study.selection">Selection</th>
                        <th translate="synctestApp.study.timing">Timing</th>
                        <th translate="synctestApp.study.official_title">Official_title</th>
                        <th translate="synctestApp.study.results_reference">Results_reference</th>
                        <th translate="synctestApp.study.oc_oid">Oc_oid</th>
                        <th translate="synctestApp.study.old_status_id">Old_status_id</th> -->
                        <th ng-if="i == 0"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="study in tableData[i]">
                        <td>{{study.id}}</td>
                        <!-- <td>{{study.parent_study_id}}</td> -->
                        <!-- <td>{{study.unique_identifier}}</td> -->
                        <!-- <td>{{study.secondary_identifier}}</td> -->
                        <td>{{study.name}}</td>
                        <td>{{study.summary}}</td>
                        <td>{{study.date_planned_start}}</td>
                        <td>{{study.date_planned_end}}</td>
                        <td>{{study.date_created}}</td>
                        <td>{{study.date_updated}}</td>
                        <!-- <td>{{study.owner_id}}</td>
                        <td>{{study.update_id}}</td>
                        <td>{{study.type_id}}</td>
                        <td>{{study.status_id}}</td>
                        <td>{{study.principal_investigator}}</td>
                        <td>{{study.facility_name}}</td>
                        <td>{{study.facility_city}}</td>
                        <td>{{study.facility_state}}</td>
                        <td>{{study.facility_zip}}</td>
                        <td>{{study.facility_country}}</td>
                        <td>{{study.facility_recruitment_status}}</td>
                        <td>{{study.facility_contact_name}}</td>
                        <td>{{study.facility_contact_degree}}</td>
                        <td>{{study.facility_contact_phone}}</td>
                        <td>{{study.facility_contact_email}}</td>
                        <td>{{study.protocol_type}}</td>
                        <td>{{study.protocol_description}}</td>
                        <td>{{study.protocol_date_verification}}</td>
                        <td>{{study.phase}}</td>
                        <td>{{study.expected_total_enrollment}}</td>
                        <td>{{study.sponsor}}</td>
                        <td>{{study.collaborators}}</td>
                        <td>{{study.medline_identifier}}</td>
                        <td>{{study.url}}</td>
                        <td>{{study.url_description}}</td>
                        <td>{{study.conditions}}</td>
                        <td>{{study.keywords}}</td>
                        <td>{{study.eligibility}}</td>
                        <td>{{study.gender}}</td>
                        <td>{{study.age_max}}</td>
                        <td>{{study.age_min}}</td>
                        <td>{{study.healthy_volunteer_accepted}}</td>
                        <td>{{study.purpose}}</td>
                        <td>{{study.allocation}}</td>
                        <td>{{study.masking}}</td>
                        <td>{{study.control}}</td>
                        <td>{{study.assignment}}</td>
                        <td>{{study.endpoint}}</td>
                        <td>{{study.interventions}}</td>
                        <td>{{study.duration}}</td>
                        <td>{{study.selection}}</td>
                        <td>{{study.timing}}</td>
                        <td>{{study.official_title}}</td>
                        <td>{{study.results_reference}}</td>
                        <td>{{study.oc_oid}}</td>
                        <td>{{study.old_status_id}}</td> -->
                        <td ng-if="i == 0">
                            <button type="submit"
                                    ui-sref="studyDetail({id:study.id})"
                                    class="btn btn-info">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                            </button>
                            <button type="submit"
                                    ng-click="update(study.id)"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                            </button>
                            <button type="submit"
                                    ng-click="delete(study.id)"
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span ng-if="i == 0"><br/><br/></span>
    </div>
</div>

<button type="submit"
        ng-click="preSync()"
        class="btn btn-primary">
    <span class="glyphicon glyphicon-refresh">&nbsp;Sync</span>
</button>
