<div>

    <h2>Table Status</h2>
    <!--
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveStatusModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> 
        <span translate="synctestApp.status.home.createLabel">Create a new Status</span>
    </button>
    -->
    <div class="modal fade" id="saveStatusModal" tabindex="-1" role="dialog" aria-labelledby="myStatusLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myStatusLabel" translate="synctestApp.status.home.createOrEditLabel">Create or edit a Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="status.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="synctestApp.status.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="status.name">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.status.description">Description</label>
                            <input type="text" class="form-control"
                                   ng-model="status.description">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteStatusConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(status.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="synctestApp.status.delete.question" translate-values="{id: '{{status.id}}'}">Are you sure you want to delete Status {{status.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="syncConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Synchronization</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            It will synchronize the data in the configuration table.
                            <br/>
                            {{diffData[1].length}} rows will be added on synctest.
                            <br/>
                            {{diffData[0].length}} rows will be added on openclinica.
                            <br/>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
                            ng-click="doSync()">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Do Sync</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="submit"
            ng-click="toggleTable(0)"
            class="btn btn-info">
        <span class="glyphicon glyphicon-eye-open">&nbsp;{{toggleText[0]}}</span>
    </button>
    &nbsp;{{titleTable[0]}}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="synctestApp.status.name">Name</th>
                    <th translate="synctestApp.status.description">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="status in tableData[0]">
                    <td>{{status.id}}</td>
                    <td>{{status.name}}</td>
                    <td>{{status.description}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="statusDetail({id:status.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(status.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(status.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>
    <button type="submit"
            ng-click="toggleTable(1)"
            class="btn btn-info">
        <span class="glyphicon glyphicon-eye-open">&nbsp;{{toggleText[1]}}</span>
    </button>
    &nbsp;{{titleTable[1]}}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="synctestApp.status.name">Name</th>
                    <th translate="synctestApp.status.description">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="status in tableData[1]">
                    <td>{{status.id}}</td>
                    <td>{{status.name}}</td>
                    <td>{{status.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="submit"
        ng-click="preSync()"
        class="btn btn-primary">
    <span class="glyphicon glyphicon-refresh">&nbsp;Sync</span>
</button>