<div>

    <h2 translate="synctestApp.phoneBook.home.title">PhoneBook</h2>

    <div id="board-content">
        <div class="gridster responsive-column-width">
            <ul data-bind="grid: true">
            </ul>
        </div>
    </div>
    <div id="main-header" >

    </div>

    <div style="display:hidden">
        <ul data-bind="template: { name: 'pane-template', foreach: panes}">
        </ul>
    </div>

    <script type="text/html" id="pane-template">
        <li data-bind="pane: true">
            <header>
                <h1 data-bind="text: title"></h1>
            </header>
            <section data-bind="foreach: widgets">
                <div class="sub-section" data-bind="css: 'sub-section-height-' + height()">
                    <div class="widget" data-bind="widget: true, css:{fillsize:fillSize}"></div>
                </div>
            </section>
        </li>
    </script>

<!--     <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePhoneBookModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="synctestApp.phoneBook.home.createLabel">Create a new PhoneBook</span>
    </button> -->
<!--     <div class="modal fade" id="savePhoneBookModal" tabindex="-1" role="dialog" aria-labelledby="myPhoneBookLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPhoneBookLabel" translate="synctestApp.phoneBook.home.createOrEditLabel">Create or edit a PhoneBook</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="phoneBook.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="synctestApp.phoneBook.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="phoneBook.name">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.phoneBook.phone_number">Phone_number</label>
                            <input type="text" class="form-control"
                                   ng-model="phoneBook.phone_number">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.phoneBook.address">Address</label>
                            <input type="text" class="form-control"
                                   ng-model="phoneBook.address">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.phoneBook.email">Email</label>
                            <input type="text" class="form-control"
                                   ng-model="phoneBook.email">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

<!--     <div class="modal fade" id="deletePhoneBookConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(phoneBook.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="synctestApp.phoneBook.delete.question" translate-values="{id: '{{phoneBook.id}}'}">Are you sure you want to delete PhoneBook {{phoneBook.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

<!--     <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="synctestApp.phoneBook.name">Name</th>
                    <th translate="synctestApp.phoneBook.phone_number">Phone_number</th>
                    <th translate="synctestApp.phoneBook.address">Address</th>
                    <th translate="synctestApp.phoneBook.email">Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phoneBook in phoneBooks">
                    <td><a ui-sref="phoneBookDetails({id:phoneBook.id})">{{phoneBook.id}}</a></td>
                    <td>{{phoneBook.name}}</td>
                    <td>{{phoneBook.phone_number}}</td>
                    <td>{{phoneBook.address}}</td>
                    <td>{{phoneBook.email}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="phoneBookDetail({id:phoneBook.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(phoneBook.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(phoneBook.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>
