<div>

    <h2>Table Configuration</h2>

    <!--
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOcConfigurationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="synctestApp.ocConfiguration.home.createLabel">Create a new Configuration</span>
    </button>
    -->

    <div class="modal fade" id="saveOcConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="myOcConfigurationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOcConfigurationLabel">
                            Edit Configuration
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="synctestApp.ocConfiguration.key">Key</label>
                            <input type="text" class="form-control"
                                   ng-model="ocConfiguration.key">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.ocConfiguration.value">Value</label>
                            <input type="text" class="form-control"
                                   ng-model="ocConfiguration.value">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.ocConfiguration.description">Description</label>
                            <input type="text" class="form-control"
                                   ng-model="ocConfiguration.description">
                        </div>
                        <div class="form-group">
                            <label translate="synctestApp.ocConfiguration.version">Version</label>
                            <input type="number" class="form-control"
                                   ng-model="ocConfiguration.version">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="syncConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Synchronization</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            It will synchronize the data in the configuration table.
                            <br/>
                            {{notOnSync.length}} rows will be added on synctest.
                            <br/>
                            {{notOnOc.length}} rows will be added on openclinica.
                            <br/>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
                            ng-click="doSync()">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Do Sync</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOcConfigurationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(ocConfiguration.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete this Configuration?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    
    <button type="submit"
            ng-click="toggleTableOne()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-eye-open">&nbsp;Toggle</span>
    </button>
    &nbsp;{{titleTableOne}}
    <!-- Table database synctest -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="synctestApp.ocConfiguration.key">Key</th>
                    <th translate="synctestApp.ocConfiguration.value">Value</th>
                    <th translate="synctestApp.ocConfiguration.description">Description</th>
                    <th translate="synctestApp.ocConfiguration.version">Version</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ocConfiguration in tableOneConfs">
                    <td>{{ocConfiguration.id}}</td>
                    <td>{{ocConfiguration.key}}</td>
                    <td>{{ocConfiguration.value}}</td>
                    <td>{{ocConfiguration.description}}</td>
                    <td>{{ocConfiguration.version}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="ocConfigurationDetail({id:ocConfiguration.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ng-click="update(ocConfiguration.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(ocConfiguration.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <button type="submit"
            ng-click="toggleTableTwo()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-eye-open">&nbsp;Toggle</span>
    </button>
    &nbsp;{{titleTableTwo}}
    <!-- Table from openclinica -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="synctestApp.ocConfiguration.key">Key</th>
                    <th translate="synctestApp.ocConfiguration.value">Value</th>
                    <th translate="synctestApp.ocConfiguration.description">Description</th>
                    <th translate="synctestApp.ocConfiguration.version">Version</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ocConfiguration in tableTwoConfs">
                    <td>{{ocConfiguration.id}}</td>
                    <td>{{ocConfiguration.key}}</td>
                    <td>{{ocConfiguration.value}}</td>
                    <td>{{ocConfiguration.description}}</td>
                    <td>{{ocConfiguration.version}}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="submit"
        ng-click="preSync()"
        class="btn btn-primary">
    <span class="glyphicon glyphicon-refresh">&nbsp;Sync</span>
</button>